:root {
    /* Advandages item grid */
    --gap-row-c: 72px;
    --gap-col-c: 16px;
    --customer-amount: 2;
}

/* #region Base styles */
.container {
    min-width: 320px;
    max-width: 428px;

    /* outline: 2px solid red; */
    /* outline-offset: -2px; */
}

.wrapper {
    flex-direction: column;
    gap: 72px;
}

/* #endregion */

/* #region Header */
.header-menu-list,
.header-contacts {
    display: none;
}
/* #endregion */

/* Main */
/* #region Hero */
.hero {
    width: 100%;
    padding: 112px 0;
}

.hero-title {
    max-width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
}
/* #endregion */

/* #region Advantages */
.section-advantages {
    padding: 96px 0;
}

.advantages-item {
    width: 100%;
}

.advantages-picture {
    display: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
}

.advantages-paragraph {
    font-weight: 500;
}
/* #endregion */

/* #region Services */
.section-services {
    display: none;
}
/* #endregion */

/* #region Team */
.section-team {
    padding: 96px 0;
}
/* #endregion */

/* #region Customers */
.section-customers {
    padding: 96px 0;
}

.customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--gap-col-c);
    row-gap: var(--gap-row-c);
}

.customers-item {
    max-width: 190px;
    width: calc((100% - (var(--gap-col-c) * (var(--customer-amount) - 1))) / var(--customer-amount));
}

.customers-link {
    width: 100%;
}
/* #endregion */

/* #region Footer*/
.footer {
    padding: 96px 0;
}
.footer .container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-block {
    align-items: center;
}

.footer-title {
    text-align: center;
}

.logo-footer {
    display: block;
    text-align: center;
}

.footer-subscribe {
    width: 100%;
}

.footer-email-input {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    /* opacity: 0.3; */
}

.subscribe-button {
    margin: 0 auto;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
    padding: 48px 0;
}

.portfolio-buttons-list {
    flex-wrap: wrap;
    justify-content: left;
    width: 264px;
    margin-bottom: 48px;
}

.portfolio-filter-button {
    padding: 8px 16px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button:active {
    box-shadow: none;
}

.portfolio-projects-item {
    width: 100%;
}

.portfolio-projects-item:hover,
.portfolio-projects-item:focus,
.portfolio-projects-item:active {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-project-image {
    max-width: 396px;
    max-height: 280px;
    width: 100%;
    height: auto;
}

.overlay {
    display: none;
}
/* #endregion */

/* #region Modal*/
.modal {
    max-width: 392px;
}
/* #endregion */

/* #region Menu mobile*/
.menu-toggle {
    background-color: rgba(var(--cornflower), 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    padding-right: 35px;
    background-color: rgba(var(--white), 1);
    z-index: 999;

    transform: translateX(100%);
    transition: var(--trans);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    /* color: rgba(var(--white), 1); */
}

.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    row-gap: 40px;
    height: 100%;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media screen and (max-width: 427px) {
    .mobile-menu-item {
        font-size: 25px;
    }
}

.mobile-menu-item.link {
    color: rgba(var(--navy_blue), 1);
}

.mobile-menu-item.link:active {
    color: rgba(var(--ocean), 1);
}

.mobile-menu-tel {
    display: block;
    color: rgba(var(--iris), 1);
    margin-bottom: 40px;
}

.mobile-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(var(--slate), 1);
}

.menu-contacts-container {
    /* position: absolute;
    bottom: 40px; */
    width: 100%;
}

.menu-contacts {
    margin-bottom: 48px;
}

.menu-media-list {
    gap: 56px;
}

@media screen and (max-width: 427px) {
    .menu-media-list {
        gap: 26px;
    }
}
/* #endregion */