:root {
    /* Advandages item grid */
    --gap-row-c: 72px;
    --gap-col-c: 16px;
    --customer-amount: 2;
}

/* #region Base styles */
.container {
    min-width: 320px;
    max-width: 428px;

    outline: 2px solid red;
    outline-offset: -2px;
}

.wrapper {
    flex-direction: column;
    gap: 72px;
}

/* #endregion */

/* Main */
/* #region Hero */
.hero {
    width: 100%;
    padding: 112px 0;
}

.hero-title {
    max-width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
}
/* #endregion */

/* #region Advantages */
.section-advantages {
    padding: 96px 0;
}

.advantages-item {
    width: 100%;
}

.advantages-picture {
    display: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
}

.advantages-paragraph {
    font-weight: 500;
}
/* #endregion */

/* #region Services */
.section-services {
    display: none;
}
/* #endregion */

/* #region Team */
.section-team {
    padding: 96px 0;
}
/* #endregion */

/* #region Customers */
.section-customers {
    padding: 96px 0;
}

.customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--gap-col-c);
    row-gap: var(--gap-row-c);
}

.customers-item {
    max-width: 190px;
    width: calc((100% - (var(--gap-col-c) * (var(--customer-amount) - 1))) / var(--customer-amount));
}

.customers-link {
    width: 100%;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
    padding: 48px 0;
}

.portfolio-buttons-list {
    flex-wrap: wrap;
    justify-content: left;
    width: 264px;
    margin-bottom: 48px;
}

.portfolio-filter-button {
    padding: 8px 16px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button:active {
    box-shadow: none;
}

.portfolio-projects-item {
    width: 100%;
}

.portfolio-projects-item:hover,
.portfolio-projects-item:focus,
.portfolio-projects-item:active {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-project-image {
    max-width: 396px;
    max-height: 280px;
    width: 100%;
    height: auto;
}

.overlay {
    display: none;
}
/* #endregion */