:root {
    /* Item grid */
    --gap-row-a: 72px;
    --gap-col-a: 24px;
    --item-amount: 2;
}

/* #region Base styles */
.container {
    max-width: 768px;
    /* outline-color: cadetblue; */
}

.wrapper {
    flex-direction: row;
    flex-wrap: wrap;
}
/* #endregion */

/* Main */
/* #region Header*/
.header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-contacts-link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
}

.header-menu-toggle,
.menu-container {
    display: none;
}
/* #endregion */

/* #region Hero */
.hero {
    width: 100%;
    padding: 112px 0;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07143;
    text-transform: none;
}
/* #endregion */

/* #region Advantages */
.section-advantages {
    padding: 96px 0;
}

.advantages-list {
    row-gap: var(--gap-row-a);
    column-gap: var(--gap-col-a);
}

.advantages-item {
    width: calc((100% - (var(--gap-col-a) * (var(--item-amount) - 1))) / var(--item-amount));
}

.advantages-picture {
    display: none;
}

.advantages-title {
    text-align: left;
}

/* #endregion */

/* #region Services */
.section-services {
    display: none;
}

/* #endregion */

/* #region Team */
.section-team {
    padding: 96px 0;
}

.team-list {
    row-gap: 64px;
    column-gap: 24px;
}
/* #endregion */

/* #region Customers */
.section-customers {
    padding: 96px 0;
}

.customers-list {
    column-gap: var(--gap-col-a);
    row-gap: var(--gap-row-a);
}

.customers-item {
    max-width: 168px;
    --customer-amount: 3;
    width: calc((100% - (var(--gap-col-a) * (var(--customer-amount) - 1))) / var(--customer-amount));
}

.customers-link {
    width: 100%;
}

/* #endregion */

/* #region Footer*/
.footer {
    padding: 96px 0;
}

.footer .container {
    width: 552px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.footer-email-field {
    display: flex;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
}

.portfolio-filter-button {
    padding: 12px 24px;
}

.portfolio-buttons-list {
    margin-bottom: 64px;
}

.portfolio-projects-list {
    justify-content: left;
}

.portfolio-projects-item {
    width: calc((100% - var(--gap-col-a) * (var(--item-amount) - 1)) / var(--item-amount));
}

.overlay {
    display: none;
}
/* #endregion */